*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.css2{
    position: fixed;
    width: 85px;
    height: 636px;
    background-color: rgb(2, 2, 66);
    color: gray;
    padding: 15px 15px 0px 20px;
    font-size: 20px;
}
#dd{
    color: white;
    padding: 10px;
}
#css3{
    padding: 10px;
}
#css4{
    color: white;
    padding: 10px;
}
#css5{
    padding: 10px;
}
#css6{
    padding: 10px;
}
#css7{
    padding: 10px;
}
#css8{
    padding: 10px;
}
#css9{
    padding: 10px;
}
.task1{
    background-color: whitesmoke;
    margin-left: 84px;
    display: flex;
    /* margin: 0px;
    padding: 0px; */
}
.task2{
    margin-left: 20px;
    padding: 20px 0px 20px 0px;
}
.task3{
    display: flex;
    margin-left: 67%;
    padding: 24px 0px 20px 0px;
}
.task4{
    padding: 0px,6px;
    margin-right: 1rem;
    /* text-align: left; */
}
.task5{
    padding:0px,6px;
    /* margin: 0px; */
    /* text-align: right; */

}
#bxs{
    font-family:box;
    font-weight: 400px;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    /* speak: none; */
    -webkit-font-smoothing: antialiased;
    /* content: "\ed91"; */
}
.task6{
    padding: 0px,6px;
    margin-left: 10px;
}
#bxs1{
    /* padding: 0px,6px; */
    font-family: boxicons;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    /* speak: none; */
    padding-left: 10px;
    -webkit-font-smoothing: antialiased;
}    
#bxs2{
    /* padding: 0px,6px; */
    font-family: boxicons;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    /* speak: none; */
    -webkit-font-smoothing: antialiased;
    padding-left: 10px;
}
#bxs3{
    font-family: boxicons;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    /* speak: none; */
    -webkit-font-smoothing: antialiased;
    padding-left: 10px;
}
.cell{
    display: grid;
    grid-template-columns: 247px 750px auto;;
}
.cell0{
    margin-left: 125px;
    width: 120px;
    height: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.224);
    margin-top: 10px;
}
.cell1{
    padding-right: 100px;
    padding-bottom: 10px;
}
.cell2{
    padding: 15px 0px 10px 5px;
    font-size: 13px;
}
.cell3{
    padding: 15px 0px 10px 5px;
    font-size: 13px;
}
.cell4{
    padding: 15px 0px 10px 5px;
    font-size: 13px;
}
.cell5{
    margin-top: 10px;
    padding-right: 100px;
    padding-bottom: 13px;
}
.cell6{
    padding: 12px 0px 10px 5px;
    font-size: 13px;
}
.cell7{
    padding: 15px 0px 10px 5px;
    font-size: 13px;
}
.cell8{
    padding: 15px 0px 10px 5px;
    font-size: 13px;
}
.cell9{
    padding: 15px 0px 10px 5px;
    font-size: 13px;
}
.cell10{
    padding: 15px 0px 10px 5px;
    font-size: 13px;
}

.add{
    border-right: 1px solid rgba(0, 0, 0, 0.224);
    padding-bottom: 40px;
}
.add0{
    margin-left: 30px;
    margin-top: 25px;
}
.add2{
    margin-top: 20px;
}
#add3{
    color: rgb(238, 0, 0);
    font-size: 10px;
    margin-left: 1px;
}
.add4{
    width: 701px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
    font-weight: 600;
}
.add5{
    display: flex;
    grid-template-columns: auto,auto;
    margin-right: 18px;
}
.label1{
    margin-right: 280px;
    padding: 0px;
    float: left;
}
.not1{
    display: grid;
    grid-template-columns: auto;
}
.label2{
    margin-right:px;
    margin-top: 0px;
    
}
.add6{
    width: 341px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.add7{
    width: 342px;
    padding-left:20px;
    margin:20px,0px;
    padding: 5px 5px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.name2{
    width: 701px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.point1{
    display:flex;
    grid-template-columns: auto,auto;
    
}
#pot1{
    color: rgb(238, 0, 0);
    font-size: 10px;
    margin-left: 1px;
    padding-top: 5px;
}
#pot2{
    color: rgb(238, 0, 0);
    font-size: 10px;
    margin-left: 1px;
    padding-top: 5px;
}
.pot3{
    margin-right: 280px;
    padding: 0px;
    float: left;
}
.name3{
    width: 341px;
    margin-bottom: 40px;
    margin: 20px 0px;
    padding: 5px 5px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
    /* text-align: left; */
}
.Tracking{
    margin-left: 19px;
}
.name4{
    width: 342px;
    margin: 20px 0px;
    padding: 5px 5px; 
    margin-left:19px;
    font-weight: 600;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.from3{
    margin-top: 20px;
    grid-template-columns: auto auto;
}
.from4{
    width: 701px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    font-weight: 600;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.to1{
    display: flex;
    grid-template-columns: auto,auto;
}
.to2{
    width: 341px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.state{
    margin-left: 19px;
}
.to3{
    width: 342px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    margin-left: 19px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
    /* text-align: center; */
}
.zip1{
    display: flex;
    grid-template-columns: auto,auto;
}
.to4{
    width: 341px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.country{
    margin-left: 19px;
    text-align: right;
}
.to5{
    width: 342px;
    margin: 20px 0px;
    padding: 5px 5px;
    margin-left: 20px;
    margin-left: 19px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.stop1{
    display:grid;
    grid-template-columns: auto;
}
.stop2{
    width: 690px;
    margin: 20px 0px;
    padding: 5px 5px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.121);
    border: 1px solid rgba(128, 128, 128, 0.342);
}
.open1{
    margin: 40px 0px 0px 30px;
}
.open2{
    border-radius: 5px;
    border: 1px solid gainsboro;
    padding: 8px;
}
.open3{
    border-radius: 5px;
    padding: 8px;
    background-color: lightgray;
    border: 1px solid gainsboro;
}
.h3class{
    padding: 15px;
    text-align: left;
}
.h5class{
    color: rgba(24, 0, 0, 0.685);
    font-size: 13px;
    padding-bottom: 15px;
}



